* {
    font-family: Helvetica;
    box-sizing: border-box;
    color:#181414;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    width: 90%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

form label {
    margin-top: 8px;
}

.submit {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 650px;    
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

h1 {
    max-width: 650px;
    width: 80%;
}

p {
    color:#888888;
    text-align: start;
    width: 100%;
    max-width: 650px;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c11e2f;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.title__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 650px;
  }
  
  .img__box {
    width: 60px;
    height: 60px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    animation: background 10s infinite;
    border-radius: 50%;
  }
  
  @keyframes background {
    0% {
      background: #c11e2f;
    }
    25% {
      background: #62c370;
    }
    50% {
      background: #1aa3e8;
    }
    75% {
      background: #181414;
    }
    100% {
      background: #c11e2f;
    }
  }
  
  .img__box img {
    width: 20px;
  }